{% extends "base.html" %}
{% block title %}{% endblock title%}
{% block body%}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0" role="alert" >
    <strong>{{message}}</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %}
<div class="jumbotron" >
    <h1 class="display-4">Welcome to RedBus!</h1>
    <hr class="my-4">
    <p>
      <h3>Choose the bus route</h3>
      <form method = "get" action = "/search" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name ="query" id ="query">
        <h2>     to    </h2>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name ='will' id ='will'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href = '/'>Search</button>    
      </form>
    </p>
</div>
{% endblock body%}
