{% extends "base.html" %}
{% block title %}{% endblock title %}

{% block body %}
{% if bus %}
  <div class ='card-header bg-info'>
    <h1><i> {{bus.name}} </i></h1>
  </div>
  <div class = 'card-body bg-info'>
    <p>
    <h3>Departure from: {{bus.city1}}</h3>
    <h3>Arrival in: {{bus.city2}}</h3>
    <h3>Departure time: {{bus.dep_time}}</h3>
    <h3>arrival time: {{bus.arr_time}}</h3>
    <h3>Seats left: {{bus.seats}}</h3>
    <form method = "get" action = 'seat/' class="form-inline my-2 my-lg-0">
    <div class="input-group">
    <div class="input-group-prepend">
    <h3>How many seats do you want to book:</h3>   <input type="text" class="form-control" name = 'query' id = 'query'>  <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" href = "/redbus/{{buses.slug}}/seat" >Checkout</button> 
    </div>
    </form>
    </p>
  </div>
{% endif %}
{% endblock body %}
